@charset "UTF-8";

body{
    font-family: 'Hiragino Kaku Gothic Pro','Meiryo',sans-serif;
    font-size: 15px;
    border-top: 20px solid #79a1b1 !important;
}
a{
    text-decoration: none;
    color: #333;
}

.logo{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
.logo img{
    display: inline-block;
    width: 50px;
    height: auto;
}
.w_inner{
    width: 1200px;
    margin: 0 auto;
}
.header ul{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.header ul li{
    font-size: 18px;
    width: 200px;
    min-width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-right: 1.5px solid #ddd;
}
.header ul li:first-child{
    border-left: 1.5px solid #ddd;
}
.header ul li a{
    display: block;
    text-align: center;
}
.header ul :hover{
    background-color: #79a1b1;
    color: #fff;
    opacity: 0.8;
}
.header_img{
    margin-bottom: 20px;
}
.header_img img{
    display: inline-block;
}
.container_service .service_block{
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-bottom: 20px;
}
.container_service .service{
    text-align: center;
}
.container_service h2{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}
.container_service .service img{
    margin-bottom: 20px;
    width: 380px;
    height: auto;
}
.container_service .service .ttl{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
}
.container_service .service .explain{
    font-size: 15px;
    margin-bottom: 30px;
}
.container_service .service a{
    background: #79a1b1;
    color: #fff;
    padding: 12px 20px 12px;
}
.pp_link{
    margin-bottom: 10px;
    text-align: right
}
.copy{
    text-align: center;
    background: #79a1b1;
    color: #fff;
    font-size: 12px;
    padding: 7px 0 3px;
}
